%p#notice= notice

%p
  %b= @post.title 
  %i By #{link_to @post.user, display_all_path(@post.user)}
%p
  %p= @post.body


= link_to 'Back', posts_path

%h2 Comments
#comments
  = render :partial => @post.comments
= render 'comments/form'

