%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'SampleBlog', root_path, class: 'navbar-brand'
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path
      %ul.nav.navbar-nav
        %li
          = link_to 'Posts', posts_path
      %ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          %li
            = link_to new_user_registration_path do
              %span.glyphicon.glyphicon-user
              Sign Up
          
          %li
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Login
        - else
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %span.glyphicon.glyphicon-log-in
              Logout